# Build artifacts
/build/
/out/
/dist/
/CMakeFiles/
/CMakeCache.txt
/*.sln
/*.vcxproj*
/compile_commands.json
/install_manifest.txt

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Raylib static libs
*.a
*.lib